<div
  class="card text-white card-has-bg"
  style="
          background-size: cover;
            background-image: url({{ linkFoto }});
          "
>
  <div class="card-img-overlay d-flex flex-column">
    <div class="card-body">
      <small class="card-meta mb-2">{{ tipo }}</small>
      <h4 class="card-title mt-0">
        <span class="text-white">{{ nome }}</span>
      </h4>
      <small
        ><i class="far fa-clock"></i> {{ potencia + "CV" }}, {{ ano }}</small
      >
    </div>
  </div>
</div>
