<div
  class="d-flex justify-content-between align-items-center p-4"
  style="
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8018557764902836) 50%,
      rgba(0, 0, 0, 0.282) 100%
    );
    border-radius: 0px 0px 15px 15px;
  "
>
  <div>
    <span class="text-white fw-bold fs-2">Garagem Do Lukinha</span>
  </div>
  <div *ngIf="!modo">
    <button
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      class="btn btn-outline-success fs-5 fw-bold"
    >
      Entrar
    </button>
  </div>
  <div *ngIf="modo">
    <button class="btn btn-danger fs-5 fw-bold" (click)="sair()">Sair</button>
  </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Loguin</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex flex-column gap-4">
        <div class="d-flex flex-column gap-2 px-4">
          <label>Usuario :</label>
          <input type="text" id="usuario" class="form-control" />
        </div>
        <div class="d-flex flex-column gap-2 px-4">
          <label>Senha :</label>
          <input type="text" id="senha" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="salvarModal()"
        >
          Entrar
        </button>
      </div>
    </div>
  </div>
</div>
